<div class='message'>
    <div class="weui-tab">
    <div class="weui-navbar">
        <div class="weui-navbar__item weui-bar__item_on" ng-repeat='item in items'>
            <a ng-href="#/index{{item.url}}" class="weui-tabbar__item weui-bar__item_on" >
                <img ng-src='{{item.image}}' alt="" class="weui-tabbar__icon">
                
            </a>
        </div>
        
    </div>
    <div class="weui-tab__panel">
    </div>
</div>
<div class="weui-panel__bd" ng-Scroll='loadmore()' >
    <a href="" class="weui-media-box weui-media-box_appmsg" ng-repeat='arr in arrs' >
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">{{arr.title}} </h4>
            <p class="weui-media-box__desc">
                {{arr.text}}
            </p>
        </div>
    </a>
</div>
</div>
<style>
    .weui-tab{
        height:100px;
    }
    .weui-panel__bd{
        height:400px;
        overflow: auto;
    }
</style>