<article class="weui-article">
    <section>
        <!-- <h2 class="title"></h2> -->
        <section>
            <h3>{{arr.title}}</h3>
            <p>{{arr.money}}</p>
            <p>{{arr.weal}} </p>
            <p>{{arr.detail}}</p>
            <p>工作地点:<br/>{{arr.place}}</p>
        </section>
    </section>
</article>
<div class='weui-tabbar'>
    <div class="button-sp-area">
    
    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">发送简历</a>
    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">和他聊聊</a>
</div>
</div>
