<div class="weui-cells__title"></div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <img style='width:100px;height:100px;border-radius:50%' src="images/首页-我的.png" alt="">
        </div>
        <div class="weui-cell__ft">个人头像</div>
    </div>
</div>
<div class="weui-cells__title"></div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__hd"></div>
        <div class="weui-cell__bd">
            <p>简历</p>
        </div>
        <div class="weui-cell__ft">说明文字</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"></div>
        <div class="weui-cell__bd">
            <p>机会</p>
        </div>
        <div class="weui-cell__ft">说明文字</div>
    </div>
</div>

<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
            <p>收藏</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
            <p>反馈意见</p>
        </div>
      
    </a>
</div>
<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
            <p>设置</p>
        </div>
        <div class="weui-cell__ft">说明文字</div>
    </a>
    
</div>
